<form id="signUp" role="form">
  <div class="form-group">
    <div>I am a...</div>
    {% for item in status %}
      <div class="statusRow radio"><label><input type="radio" name="status" value="{{item.short_desc}}" />{{item.description}}</label></div>
    {% endfor %}

    <div class="metroLabel">I live in or around...</div>
    <div class="metroBox">
      <select class="form-control" name="metro">
        <option>Select Metro Area</option>
        {% for item in metros %}
          <option value="{{item.id}}">{{item.metro_area}}</option>
        {% endfor %}
      </select>

    <div class="emailLabel">Email me with potential matches!</div>

    <div class="emailBox"><input type="email" name="email" id="email" class="input-lg form-control" placeholder="Enter email"/></div>

    <div class="submitBox"><input type="button" name="submit" id="submit" value="Submit" class="btn btn-primary btn-lg btn-block" /></div>
  </div>

</form>
