/* line 2, ../sass/colors.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/colors.scss */
html {
  font-size: 100%;
}

/* Small screens (default) */
/* line 11, ../sass/colors.scss */
html, body, p, a, div, span {
  font-family: Georgia, serif;
  color: #443D33;
  font-size: 115%;
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
  /* line 19, ../sass/colors.scss */
  html {
    font-size: 120%;
  }
}
/* Large screens (1024px) */
@media (min-width: 64rem) {
  /* line 25, ../sass/colors.scss */
  html {
    font-size: 120%;
  }
}
/* line 30, ../sass/colors.scss */
#container {
  padding-top: 5%;
  width: 660px;
  margin-right: auto;
  margin-left: auto;
}

/* line 37, ../sass/colors.scss */
#main {
  width: 100%;
}

/* line 41, ../sass/colors.scss */
.scheme {
  width: 660px;
  height: 220px;
  margin-bottom: 40px;
}

/* line 47, ../sass/colors.scss */
.color {
  width: 220px;
  height: 220px;
  float: left;
}

/* line 53, ../sass/colors.scss */
.emailBox, .submitBox, .emailLabel, .messageArea {
  padding-top: 2%;
}

/* line 57, ../sass/colors.scss */
.footer {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
}
